{% extends "base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/annotation.css' %}">
{% endblock %}
{% block navigation %}
{% if user.is_superuser and 'project_id' in view.kwargs %}
<a class="navbar-item" href="{% url 'dataset' view.kwargs.project_id %}">
  <span class="icon">
    <i class="fas fa-edit"></i>
  </span>
  <b>Edit Data</b>
</a>
{% endif %}
{% endblock %}
{% block content %}
<div class="columns" id="mail-app" v-cloak>
  <div class="column is-10 is-offset-1 message hero is-fullheight" id="message-pane">

    <!-- Modal card for creating project. -->
    <div class="modal" :class="{ 'is-active': isActive }">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Annotation Guideline</p>
            <button class="delete" aria-label="close" @click="isActive=!isActive"></button>
          </header>
          <section class="modal-card-body modal-card-body-footer content"
                   style="line-height:150%"
                   v-html="compiledMarkdown"></section>
        </div>
      </div>

    <div class="columns is-multiline is-gapless is-mobile is-vertical-center">
      <div class="column is-3">
        <progress class="progress is-inline-block" v-bind:class="progressColor" v-bind:value="achievement" max="100">30%</progress>
      </div>
      <div class="column is-8">
        <span class="ml10"><strong>[[ total - remaining ]]</strong></span>/<span>[[ total ]]</span>
      </div>
      <div class="column is-1 has-text-right">
        <a class="button" @click="isActive=!isActive">
          <span class="icon">
            <i class="fas fa-book"></i>
          </span>
        </a>
      </div>
    </div>

    {% block annotation-area %} {% endblock %}

    <div class="level mt30">
      <a class="button level-left" v-on:click="prevPage" v-shortkey="{prev1: ['ctrl', 'p'], prev2: ['arrowup'], prev3: ['arrowleft']}"
        @shortkey="prevPage">
        <span class="icon">
          <i class="fas fa-chevron-left"></i>
        </span>
        <span>Prev</span>
      </a>

      <a class="button level-right" v-on:click="nextPage" v-shortkey="{next1: ['ctrl', 'n'], next2: ['arrowdown'], next3: ['arrowright']}"
        @shortkey="nextPage">
        <span>Next</span>
        <span class="icon">
          <i class="fas fa-chevron-right"></i>
        </span>
      </a>
    </div>

  </div>
</div>
{% endblock %}
